---
layout: default
---
{% assign topic_group = site.data.topic_pages[page.topic_key] %}
<section class="home-page">
  <div class="page-shell">
    {% if topic_group %}
      <div class="home-topic-grid">
        {% for tile in topic_group.tiles %}
          <a class="home-topic-tile" href="{{ tile.url | relative_url }}">
            <strong>{{ tile.title }}</strong>
            <span>{{ tile.description }}</span>
          </a>
        {% endfor %}
      </div>
    {% endif %}
    {{ content }}
  </div>
</section>
